html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    position: fixed;
    width: 100%;
}

.app {
    height: 100vh!important;
    overflow: scroll;
}

.site-content {
}

.navbar-rewrite {
    background-color: #13655E !important;
}

.navbar-rewrite__Link {
    font-weight: bold;
    color: black !important;
}

.navbar-rewrite__Link:hover {
    color: #F26F81 !important;
}

.mr-1 {
    margin-right: 1rem !important;
}

.mt-1 {
    margin-top: 1rem !important;
}

.mx-1 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

.navbar-rewrite__Icon {
    max-height: 40px !important;
}

.jumbotron.fortags {
    margin-top: 3rem;
    padding: 0;
    border-radius: 0;
    background-image: url(../images/jumbotron.jpg);
    background-size: cover;
    background-position: 20% 70%;
}

.jumbotron-rewrite__Parent {
    width:100%;
    bottom: 0;
    margin: 0 !important;
}
.jumbotron-rewrite {
    height: 80% !important;
}

.footer-rewrite {
    height: 20%;
    background: rgba(0, 0, 0, 0.75);
}

.footer-rewrite__Child {
    height: 100% !important;
    color: white

}
.footer-rewrite__ChildColumn{
    background: none !important;
}
.footerWrapper-rewrite {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.jumbotron.fortags a {
    background-color: #F26F81 !important;

}

