html {
    height: 100%;
    margin: 0;
}

body {
    /*height: 100%;*/
    /*margin: 0;*/
    /*position: fixed;*/
    /*width: 100%;*/
}

a {
    color: #13655E;
    transition: 0.6s;
}

a:hover {
    color: #F26F81;
}

.app {
    display: grid;
    grid-template-columns: 100%;
    min-height: 100vh;
    grid-template-rows: 110px 1fr auto auto;
}

.site-content {
}

.main-content {
    min-height: 70vh;
}

.navbar-rewrite {
    background-color: #13655E !important;
}

.navbar-rewrite__Link {
    font-weight: bold;
    color: #F26F81 !important;
    font-size: 20px;
}

.navbar-rewrite__Link:hover {
    color: white !important;
}

.mr-1 {
    margin-right: 1rem !important;
}

.mt-1 {
    margin-top: 1rem !important;
}

.mx-1 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

.navbar-rewrite__Icon {
    max-height: 40px !important;
}

.jumbotron.fortags {
    margin-top: 3rem;
    padding: 0;
    border-radius: 0;
    background-image: url(../images/jumbotron.jpg);
    background-size: cover;
    background-position: 20% 70%;
}

.jumbotron-rewrite__Parent {
    width:100%;
    bottom: 0;
    margin: 0 !important;
}
.jumbotron-rewrite {
    height: 80% !important;
}

.footer-rewrite {
    height: 20%;
    background: rgba(0, 0, 0, 0.75);
}

.footer-rewrite__Child {
    height: 100% !important;
    color: white

}
.footer-rewrite__ChildColumn{
    background: none !important;
}
.footerWrapper-rewrite {
    width: 100%;
    bottom: 0;
}

.jumbotron.fortags a {
    background-color: #F26F81 !important;

}

.sitetitle {
    line-height: 1rem;
    font-size: 26px;
}


.tag-rewrite {
    text-transform: capitalize!important;
}

.maxthumb-lite {
    position: relative;
    text-align: center;
}

.maxthumb-lite__Link {
    position: absolute;
    bottom: 10px;
    left: 16px;
    font-size: 30px;
    background-color: white;
    border-radius: 18px;
    padding: 5px;
}

/*.fancy-border {*/
/*    border: double 8px transparent;*/
/*    border-radius: 16px;*/
/*    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #F26F81,#13655E);*/
/*    background-origin: border-box;*/
/*    background-clip: content-box, border-box;*/
/*}*/

.fancy-border {
    border: solid 8px #13655E;
    border-radius: 16px;
    transition: 0.6s;

}
.fancy-border:hover {
    border-color: #F26F81;
}

.fancy-border:hover a {
    color: #F26F81;
    transition: 0.6s;

}

.text-huge {
    font-size: 50px;
    color: #13655E;
    font-weight: bold;
}

.text-x-huge {
    font-size: 90px;
    color: #13655E;
    font-weight: bold;
}

blockquote {
    border-left: 4px solid #F26F81 !important;
}

.navbar-title {
    color: #F26F81!important;
    transition: 0.6s;
}
.navbar-title:hover {
    color: white!important;
}

.emphasize {
    color: #13655E !important;
}

.hp-arrow {
    position: absolute;
    bottom: 0;
    height: 50%;
    left: 10%;
}
.hp-arrow-2 {
    position: absolute;
    bottom: 0;
    right: 5%;
    height: 50%;
}

.hp-arrow-3{
    position: absolute;
    bottom: 0;
    height: 50%;
    left: 10%;
}

.d-small {
    display: none;
}

@media only screen and (max-width: 768px ) {
    .d-small {
        display: block!important;
    }
    .d-n-small {
        display: none;
    }
    .small-center {
        text-align: center!important;
    }
    .text-x-huge {
        font-size: 60px!important;
        text-align: center!important;
    }
}

.mt-ultra {
    margin-top: 10rem;
}

.flip {
    transform: scaleX(-1);
}

