{{ define "header"}}
{{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
<div class="main-content ">
    <div class="row">
        <div class="col-lg-6"></div>
        <div class="col-lg-6 align-self-center">
            <div class="text-x-huge text-right">
                Welcome!
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 small-center">
            <h3 class="emphasize">My name is <i>Mark Walker</i>, I write here about stuff I'm currently obsessed about.</h3>
            <h3 class="emphasize">It is usually something related to psychology, philosophy, fitness, or overall quality
                of life improvements.</h3>
        </div>
        <div class="col-lg-6"></div>
    </div>
    <div class="row mt-5 d-small">
        <div class="col-lg-12">
            <div class="text-huge text-center">
                You can start by reading my latest essay.
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-6">
            {{ range ( where .Site.RegularPages "Type" "essays" | first 1 ) }}
            {{- partial "list-partials/postbox-lite.html" . -}}
            {{ end }}
        </div>
        <div class="col-lg-6 align-self-top d-n-small">
            <div class="text-huge text-right">
                You can start by reading my latest essay here.
            </div>
            <img class="hp-arrow" src="/images/arrow.png" alt="Arrow">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-6">
            <div class="text-huge text-left small-center">
                Or if you prefer listening more to reading, check <br class="d-n-small"> out this video.
            </div>
            <img class="hp-arrow-2 flip d-n-small" src="/images/arrow.png" alt="Arrow">
        </div>
        <div class="col-lg-6">
            <div >
                <iframe width="560" height="315" src="{{ .Site.Params.Featuredvideo }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

{{end}}

{{ define "footer" }}
{{- partial "_shared/jumbotron.html" . -}}
{{end}}
