<!-- Categories Jumbotron
================================================== -->
<footer class="footerWrapper-rewrite mt-3">
    <div class="jumbotron fortags jumbotron-rewrite__Parent">
        <div class="d-md-flex jumbotron-rewrite">
            <div class="col-md-4 transpdark align-self-center text-center h-100">
                <div class="d-md-flex align-items-center justify-content-center h-100">
                    <h2 class="d-md-block d-none align-self-center py-1 font-weight-light">Explore <span
                            class="d-none d-md-inline">→</span></h2>
                </div>
            </div>
            <div class="col-md-8 p-5 align-self-center text-center">
                {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                <a class="mt-1 mb-1 tag-rewrite" href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a>
                {{ end }}
            </div>
        </div>
        <div class="footer-rewrite">
            <div class="row footer-rewrite__Child">
                <div class="mt-1 col-md-6 col-sm-6 text-center text-lg-left footer-rewrite__ChildColumn">
                    &copy; Copyright {{ .Site.Copyright }}
                </div>
<!--                <div class="mt-1 col-md-2 col-sm-2 footer-rewrite__ChildColumn">-->
<!--                    {{- partial "_shared/social.html" . -}}-->
<!--                </div>-->
                <div class="mt-1 col-md-6 col-sm-6 text-center text-lg-right footer-rewrite__ChildColumn">
                    Powered by <a href="">Github pages</a> using
                    <a target="_blank" rel="noopener" href="https://www.wowthemes.net">Mediumish Theme</a> by
                    WowThemes.net
                </div>
            </div>
        </div>
    </div>
</footer>